/**
 * Fonts
*/

@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/inconsolata-webfont.woff2") format("woff2"),
        url("../fonts/inconsolata-webfont.woff") format("woff");
    font-style: normal;
}
