@import "base/reset";
@import "base/vars";
@import "base/print";
@import "base/fonts";

body {
    background-color: black;
    color: white;
    font-family: "Consolas", "Inconsolata", "Courier New", Courier, monospace;
}

input {
    border: 0;
    font-family: "Consolas", "Inconsolata", "Courier New", Courier, monospace;
    font-size: inherit;
    padding: 0;
    outline: 0;
    background-color: black;
    color: white;
}

.terminal-line {
    display: flex;
}

.terminal-line-content {
    width: 100%;

    input {
        display: block;
        width: 100%;
        resize: none;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
}
